In [ ]:

import numpy as np

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("StudentPerformance.csv")
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [ ]:
df.shape

(10000, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [ ]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [ ]:
df.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [ ]:
x = df[["Previous Scores","Hours Studied","Sleep Hours","Sample Question Papers Practiced"]]

In [ ]:
y = df["Performance Index"]

In [ ]:
x = np.array(x)
y = np.array(y)

In [ ]:
n = len(x)
split = int(0.8 * n)

In [ ]:
x_train = x[:split]
y_train = y[:split]

In [ ]:
x_test = x[split:]
y_test = y[split:]

In [ ]:
mean = np.mean(x_train,axis=0)
std = np.std(x_train,axis=0)
x_train_norm = (x_train-mean)/std
x_test_norm = (x_test-mean)/std

In [ ]:
def pred(w,b,x):
    y_pred = np.dot(x,w)+b
    return y_pred

In [ ]:
def cost(y_train,y_pred):
    err = y_pred - y_train
    cost = np.mean(np.square(err))
    return cost

In [ ]:
def gradient(err,x_train_norm):
    dw = 2*(np.mean(x_train_norm*err[:,np.newaxis],axis=0))
    db = 2*(np.mean(err))
    return dw,db

In [ ]:
def gradient_descent(w,b,dw,db,a):
    w = w - a * dw
    b = b - a * db
    return w,b

In [ ]:
def linear_regression(x_train_norm,y,w,b,a,I):
    for i in range(I):
        y_pred = pred(w,b,x_train_norm)
        Cost = cost(y,y_pred)
        err = y_pred - y
        dw,db = gradient(err,x_train_norm)
        w,b = gradient_descent(w,b,dw,db,a)
        if(i%100==0):
            print(f'iteration: {i}----------- cost: {Cost}')
    return w,b

In [ ]:
w = np.zeros(x_train_norm.shape[1])
b = 0
a = 0.001
I = 2000
n_w,n_b = linear_regression(x_train_norm,y_train,w,b,a,I)

iteration: 0----------- cost: 3413.6625
iteration: 100----------- cost: 2289.193009529573
iteration: 200----------- cost: 1535.5983974298285
iteration: 300----------- cost: 1030.551901042109
iteration: 400----------- cost: 692.0754754047164
iteration: 500----------- cost: 465.2305902556637
iteration: 600----------- cost: 313.19926731563953
iteration: 700----------- cost: 211.30712519741965
iteration: 800----------- cost: 143.01795079368335
iteration: 900----------- cost: 97.2494591008836
iteration: 1000----------- cost: 66.57443416346479
iteration: 1100----------- cost: 46.015203843546274
iteration: 1200----------- cost: 32.23573743779771
iteration: 1300----------- cost: 23.000212446642777
iteration: 1400----------- cost: 16.810158519741197
iteration: 1500----------- cost: 12.661277763558427
iteration: 1600----------- cost: 9.880468718373516
iteration: 1700----------- cost: 8.016600963546406
iteration: 1800----------- cost: 6.767312427171919
iteration: 1900----------- cost: 5.929948657741955

In [ ]:
y_testpred = pred(n_w,n_b,x_test_norm)

In [ ]:
def r2score(y_test_norm,y_pred):
    num = np.sum(np.square(y_test-y_testpred))
    den = np.sum(np.square(y_test-np.mean(y_test)))
    r2 = 1-(num/den)
    return r2

In [ ]:
r2score(y_test,y_testpred)

np.float64(0.9844970668387097)